body {
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-frame {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 16px 17px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .25);
}

.container-frame > img {
    position: absolute;
    width: 97vw;
    height: 90vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
}

.container-frame > iframe {
    display: none;
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 2px);
    transform: translate(-50% ,-50%);
    z-index: 3;
    width: calc(97vw - 50px);
    height: calc(90vh - 48px);
    background-color: white;
}

.container-frame > video {
    display: none;
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 2px);
    transform: translate(-50% ,-50%);
    z-index: 3;
    width: calc(97vw - 50px);
    height: calc(90vh - 48px);
    background-color: white;
}

.active {
    display: unset !important;
}

.close {
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    
    position: absolute;
    right: 20px;
    top: 20px;
    user-select: none;
    -webkit-user-select: none;

    cursor: pointer;
}